<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link type="text/css" href="{{ url_for('static', filename='static/css/reset.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='static/css/public.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='static/css/index.css') }}" rel="stylesheet">

    <!-- <link rel="stylesheet" href="./static/css/reset.css">
    <link rel="stylesheet" href="./static/css/public.css">
    <link rel="stylesheet" href="./static/css/index.css"> -->
</head>
 
<body>
    <div class="header_con">
        <h1>
            <img src="../static/images/apple.svg" alt="">
        </h1>
        <form action="">
            <input type="text" class="search" value="SEARCH...">
            <div>
                <input type="button" class="btn">
            </div>
        </form>
    </div>
    <div id="nav">
        <div class="nav_con">
            <ul>
                <li class="margin-left"><a href="https://qin921.github.io/">个人主页</a></li>
                <li><a href="#">HHHH</a></li>
                <li><a href="#">HHHH</a></li>
                <li><a href="templates/video.html">视频播放器</a></li>
                <li><a href="templates/compare.html">图像对比</a></li>
                <li><a href="#">HHHH</a></li>
                <li><a href="#">HHHH</a></li>
                <li><a href="https://cn.bing.com/">BING</a></li>
            </ul>
        </div>
    </div>
    <div id="banner">
        <div class="banner_con">
             <img src="../static/images/girl.svg">
        </div>
    </div>

    <div id="links">
        <div class="links_con">
            <div class="links_l">
                <h3 class="links_title">视频超分</h3>
                <ul class="links_list">
                    <li>
                        <a href="#">快写完了1</a>
                    </li>
                    <li>
                        <a href="#">快写完了1</a>
                    </li>
                    <li>
                        <a href="#">快写完了1</a>
                    </li>
                    <li>
                        <a href="#">快写完了5</a>
                    </li>
                    <li>
                        <a href="#">快写完了5</a>
                    </li>
                    <li>
                        <a href="#">快写完了1</a>
                    </li>
                    <li>
                        <a href="#">快写完了1</a>
                    </li>
                    <li>
                        <a href="#">快写完了1</a>
                    </li>
                    <li>
                        <a href="#">快写完了5</a>
                    </li>
                    <li>
                        <a href="#">快写完了5</a>
                    </li>
                    <li>
                        <a href="#">快写完了1</a>
                    </li>
                    <li>
                        <a href="#">快写完了1</a>
                    </li>
                    <li>
                        <a href="#">快写完了1</a>
                    </li>
                </ul>
            </div>
            <div class="links_c">
                <h3 class="links_title">产品中心</h3>
                <ul class="links_list">
                    <li>
                        <a href="#">快写完了1</a>
                    </li>
                    <li>
                        <a href="#">快写完了1</a>
                    </li>
                    <li>
                        <a href="#">快写完了1</a>
                    </li>
                    <li>
                        <a href="#">快写完了1</a>
                    </li>
                </ul>
            </div>
            <div class="links_r">
                <h3 class="links_title">营销网络</h3>
                <div class="map">
                    <!-- <img class="scale-girl" src="./images/girl.svg"> -->
                </div>
            </div>
        </div>
 
    </div>
    <div class="footer_con">
        <p class="footer_l">
            <a href="#">点个赞吧</a>
            <a href="#">点个赞吧</a>
            <a href="#">点个赞吧</a>
            <a href="#" class="footer-right">点个赞吧</a>
        </p>
        <p class="footer_r">
            FUCK
        </p>
    </div>
</body>
 
</html>